{% extends 'base_generic.html' %}
{% block title %}
  Make Every Thing Easy
{% endblock %}

{% block content %}
  <h1 class="fw-bold mb-5">Flash Card</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-primary mb-3">
        <div class="card-header">Decks</div>
        <div class="card-body">
          <h5 class="card-title">Total</h5>
          <p class="card-text">{{ num_deck }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-warning mb-3">
        <div class="card-header">Cards</div>
        <div class="card-body">
          <h5 class="card-title">Total</h5>
          <p class="card-text">{{ num_card }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
